@keyframes scroll-up {
    0% {
      transform: translateY(100%);
    }
   
    100% {
      transform: translateY(-100%);
    }
  }
  
  .animate-scroll-up {
    animation: scroll-up 13s linear infinite;
  }

  